.logo__section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;

  .logo__svg{
    // position: absolute;
    // left:980px;
    // top: 420px;
    height: 150px;
    width: auto;
  }
  .logo__text{

    color: $mellow-apricot;
    font-family: $logo-font;
    // position: absolute;
    // left: 1250px;
    // top: 390px;
    font-size: 70px;
  }    

}
