.logo__section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  .logo__svg{
    // position: absolute;
    // left:980px;
    // top: 420px;
    height: 150px;
    width: auto;
    animation: glowLogoSvg 1s ease-in infinite alternate;
  }
  .logo__text{

    color: $mellow-apricot;
    font-family: $logo-font;
    // position: absolute;
    // left: 1250px;
    // top: 390px;
    font-size: 70px;
    letter-spacing: 5px;

    animation: glowtext 1s ease-in infinite alternate;
  }    

}
#comets{
  position:absolute;
  top:-150px;
  width:100%;
  text-align: left; 
  height: 100%; 
  min-height: 900px;
  overflow:hidden;
  z-index: 1;
}

#comets i {
  display: inline-block;
  width: 250px;
  height: 150px;position:absolute;
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #294b67;
  border: 1px solid #333;
  z-index: 1;
  background-color: $mellow-apricot;
  opacity: .7;
  animation: falling 5s 0s infinite;
  animation-timing-function:ease-in;
}


#comets i:nth-child(1){
  left: 50vw;
  height:73px; 
  width:3px;
  background-color: $mellow-apricot;
}
#comets i:nth-child(3){
  height:11px; 
  width:3px;
  animation: falling3 8s 3s infinite;
  left: 10vw;
  background-color: $mellow-apricot;
}
#comets i:nth-child(2){
  animation: falling2 6s 1s infinite;
  left: 30vw;
  height:70px; 
  width:4px;
  background-color: $mellow-apricot;

}

#comets i:nth-child(4){
  animation: falling 8s 3s infinite;
  height: 12px;
  width: 3px;
  left: 10vw;
  background-color: $mint-cream;
}

#comets i:nth-child(5){
  animation: falling3 10s 1s infinite;
  height: 100px;
  width: 3px;
  left: 5vw;
  background-color: $mint-cream;
}

#comets i:nth-child(6){
  animation: falling2 10s 1s infinite;
  height: 50px;
  width: 5px;
  left: 60vw;
  background-color: $mint-cream;
}


@keyframes falling {

  0% {
    -webkit-transform: translate3d(100px,0px,0px) rotate(160deg);
  }

  3% {
    -webkit-transform:
    translate3d(450px,900px,0) rotate(160deg);
    opacity: 0;
  }
  100% {
    -webkit-transform:
    translate3d(450px,900px,0) rotate(160deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
  -webkit-transform: translate3d(0,0,0) rotate(150deg);
}

10% {
  -webkit-transform: translate3d(430px,640px,0) rotate(150deg);
  opacity: 0;
}

100% {
  -webkit-transform: translate3d(430px,640px,0) rotate(150deg);
  opacity: 0;
}
}

@keyframes falling2 {
  0% {
  -webkit-transform:translate3d(100px,0,0) rotate(130deg);
}

15% {
  -webkit-transform:translate3d(800px,580px,0) rotate(130deg);
  opacity: 0;
}

100% {
  -webkit-transform: translate3d(800px,680px,0) rotate(180deg);
  opacity: 0;
}
}
@keyframes glowLogoText{
  from{
    text-shadow: 0 0 5px $mellow-apricot;
  }
  to{
    text-shadow: 0 0 30px $mellow-apricot;
  }
}

@keyframes glowLogoSvg {
  from{
    filter: drop-shadow(0 0 2px $mellow-apricot);
  }
  to{
    filter: drop-shadow(0 0 8px $mellow-apricot);
  }
}