.developers {
  width: 100%;
  text-align: center;
}

.developers__container {
  display: grid;
  grid-template-columns: 50%;
  // justify-items: center;
  align-items: center;
  grid-template-rows: auto;
  gap: 20px;
  border: 2px red solid;
}

.developer__profile {
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  border: 2px green solid;
}

.developer__portrait {
  img {
    width: 200px;
    height: auto;
  }
}
