.canvas {
  background-color: $rich-black;

  .canvas__logo > img {
    width: 100px;
    height: auto;
    margin: 1rem;
  }

  .canvas__drawpad {
    background-color: white;
    padding: 0.8rem;
  }
}
