.landing_page{
  height: 500vh;
  position: relative;

  // background: rgb(1,2,6);
  // background: -moz-linear-gradient(180deg, rgba(1,2,6,1) 0%, rgba(10,32,89,1) 100%);
  // background: -webkit-linear-gradient(180deg, rgba(1,2,6,1) 0%, rgba(10,32,89,1) 100%);
  // background: linear-gradient(180deg, rgba(1,2,6,1) 0%, rgba(10,32,89,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010206",endColorstr="#0a2059",GradientType=1);

  // background: rgb(1,2,6);
  // background: -moz-linear-gradient(180deg, rgba(1,2,6,1) 0%, rgba(6,19,53,1) 75%, rgba(10,32,89,1) 100%);
  // background: -webkit-linear-gradient(180deg, rgba(1,2,6,1) 0%, rgba(6,19,53,1) 75%, rgba(10,32,89,1) 100%);
  // background: linear-gradient(180deg, rgba(1,2,6,1) 0%, rgba(6,19,53,1) 75%, rgba(10,32,89,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010206",endColorstr="#0a2059",GradientType=1);


  background: rgb(1,2,6);
  background: -moz-linear-gradient(180deg, rgba(1,2,6,0.5) 0%, rgba(10,32,89,0.5) 100%);
  background: -webkit-linear-gradient(180deg, rgba(1,2,6,0.5) 0%, rgba(10,32,89,0.5) 100%);
  background: linear-gradient(180deg, rgba(1,2,6,0.5) 0%, rgba(10,32,89,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010206",endColorstr="#0a2059",GradientType=1);
  // opacity: 0.5;

  
}