@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Manrope:wght@200;300;400;600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
.landing_page { position: relative; background: #010206; background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 2, 6, 0.5)), to(rgba(10, 32, 89, 0.5))); background: linear-gradient(180deg, rgba(1, 2, 6, 0.5) 0%, rgba(10, 32, 89, 0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010206",endColorstr="#0a2059",GradientType=1); }

.logo__section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; width: auto; margin-left: 10%; margin-right: 10%; }

.logo__section .logo__svg { height: 150px; width: auto; }

.logo__section .logo__text { color: #f6c079; font-family: "Amatic SC", cursive; font-size: 70px; }

.navbar { position: fixed; top: 0; width: 100%; background: rgba(1, 2, 6, 0.4); padding: 30px; }

.nav-menu { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-family: "Open Sans Condensed", sans-serif; text-transform: uppercase; }

.nav-item { padding: 10px 20px; margin: 10px 20px; background-color: #492d76; border-radius: 3px; font-size: 1.4rem; }

.nav-item a { color: #f5fdfd; text-decoration: none; }

.nav-item-icon { padding-left: 10px; font-size: 0.9em; }

.nav-toggle-icon { display: none; }

@media screen and (max-width: 960px) { .nav-toggle-icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: end; align-content: flex-end; font-size: 2rem; cursor: pointer; color: #f5fdfd; margin-right: 20px; }
  .nav-menu { display: none; }
  .nav-menu.active { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-line-pack: start; align-content: flex-start; width: 100%; text-align: center; }
  .nav-item { -ms-flex-line-pack: end; align-content: flex-end; } }

h2.section-heading { font-family: "Open Sans Condensed", sans-serif; color: #f6c079; text-transform: uppercase; font-weight: 300; font-size: 2rem; margin: 50px 0; }

.about-outlet { width: 100%; text-align: center; font-family: "Manrope", sans-serif; color: #f5fdfd; font-size: 1.3rem; padding: 50px; line-height: 2; }

.about__description p:nth-child(2) { color: #9ee5ef; }

.about__description p:nth-child(3) { color: #37b4d4; }

.about__tutorial { margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 100px; }

.about__tutorial .about__tutorial__content { text-align: left; }

.about__tutorial .about__tutorial__video { min-width: 300px; height: 300px; border: 1px solid #15529c; border-radius: 3px; -webkit-box-shadow: 0 0 15px 7px #15529c; box-shadow: 0 0 15px 7px #15529c; }

@media screen and (max-width: 960px) { .about__tutorial { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .about__tutorial .about__tutorial__content { text-align: center; } }

.developers { width: 100%; text-align: center; padding: 50px; }

.developers__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 100px; margin: 0 auto; max-width: 1200px; }

.developer__profile { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 50px; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; min-height: 300px; font-family: "Manrope", sans-serif; color: #f5fdfd; }

.developer__about { border: 1px solid #492d76; border-radius: 3px; -webkit-box-shadow: 0 0 15px 7px #492d76; box-shadow: 0 0 15px 7px #492d76; line-height: 2; margin: auto; padding: 0 20px; min-height: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.developer__about h3 { text-transform: uppercase; padding-top: 10px; }

.developer__about a { color: #9ee5ef; display: inline-block; padding: 0 20px; font-size: 2rem; -webkit-transition: 0.3s; transition: 0.3s; }

.developer__about a:hover { color: #37b4d4; -webkit-transform: scale(1.2); transform: scale(1.2); }

.developer__portrait img { width: 250px; height: 300px; -o-object-fit: cover; object-fit: cover; border: 1px solid #492d76; border-radius: 3px; -webkit-box-shadow: 0 0 15px 7px #492d76; box-shadow: 0 0 15px 7px #492d76; }

@media screen and (max-width: 960px) { .developer__profile { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.footer { width: 100%; padding: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer .footer__icon__container { display: -webkit-box; display: -ms-flexbox; display: flex; color: #37b4d4; font-size: 4rem; }

.footer .footer__icon__container .footer__icon { padding: 0 20px; }

.color-option { width: 50px; height: 50px; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0px; margin: 0px; }
/*# sourceMappingURL=main.css.map */