$rich-black: #010206;
$royal-blue-dark: #0a2059;
$usafa-blue: #15529c;
$maximum-blue: #37b4d4;
$mint-cream: #f5fdfd;
$blizzard-blue: #9ee5ef;
$spanish-violet: #492d76;
$middle-blue-purple: #9979cd;
$mellow-apricot: #f6c079;
