@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Manrope:wght@200;300;400;600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

$logo-font: 'Amatic SC', cursive;
$header-font: 'Open Sans Condensed', sans-serif;
$body-font: 'Manrope', sans-serif;