.footer {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer__icon__container {
    display: flex;
    color: $maximum-blue;
    font-size: 4rem;

    .footer__icon {
      padding: 0 20px;
    }
  }
}
