@import "../_variables/colors";
@import "../_variables/fonts";
@import "../pages/landingPage";
@import "../components/Landing/LogoSection/logoSection";
@import "../components/Landing/NavBar/navbar";
@import "../components/Landing/Footer/footer";
@import "../components/Landing/Developers/developer";
@import "../components/Landing/Headings/heading";
@import "../pages/canvasPage";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
