@import "../_variables/colors";
@import "../_variables/fonts";
@import "../pages/landingPage";
@import "../pages/canvasPage";
@import "../components/Landing/LogoSection/logoSection";
@import "../components/Landing/NavBar/navbar";
@import "../components/Landing/Heading/heading";
@import "../components/Landing/AboutOutlet/aboutOutlet";
@import "../components/Landing/Developers/developer";
@import "../components/Landing/Footer/footer";
@import "../components/Canvas/Toolbar/toolbar";
@import "../components/Canvas/Modal/modal";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}
