@import "../_variables/colors";
@import "../_variables/fonts";
@import "../pages/landingPage";
@import "../components/Landing/LogoSection/logoSection";
@import "../pages/canvasPage";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
